@model IEnumerable<MVC__CRUD_Application1.Models.Emp>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Empid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Empid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Empid })
        </td>
    </tr>
}

</table>
